In [ ]:
# The Anil kumar is a very good customer, bought 3045 sales orders from our portal. we got 20000 profit becuase of Anil kumar.
customer_name=input("Enter Customer Name:")
#number_of_sales_orders = input("Enter sales orders:")
#profit = input("Enter profit")
s="The"

In [3]:
s="apple"
s1="fruit"
res=s+" "+s1
print(res)

apple fruit

In [4]:
# The Anil kumar is a very good customer, bought 3045 sales orders from our portal. we got 20000 profit becuase of Anil kumar.
customer_name=input("Enter Customer Name:")
#number_of_sales_orders = input("Enter sales orders:")
#profit = input("Enter profit")
s="The "+customer_name
print(s)

Enter Customer Name:Sambasivarao
The Sambasivarao

In [5]:
# The Anil kumar is a very good customer, bought 3045 sales orders from our portal. we got 20000 profit becuase of Anil kumar.
customer_name=input("Enter Customer Name:")
#number_of_sales_orders = input("Enter sales orders:")
#profit = input("Enter profit")
s="The "+customer_name+" is a very good customer, bought "
print(s)

Enter Customer Name:Venkatesh
The Venkatesh is a very good customer, bought

In [6]:
# The Anil kumar is a very good customer, bought 3045 sales orders from our portal. we got 20000 profit becuase of Anil kumar.
customer_name=input("Enter Customer Name:")
number_of_sales_orders = input("Enter sales orders:")
#profit = input("Enter profit")
s="The "+customer_name+" is a very good customer, bought "+number_of_sales_orders
print(s)

Enter Customer Name:Chiranjeevi
Enter sales orders:3456
The Chiranjeevi is a very good customer, bought 3456

In [7]:
# The Anil kumar is a very good customer, bought 3045 sales orders from our portal. we got 20000 profit becuase of Anil kumar.
customer_name=input("Enter Customer Name:")
number_of_sales_orders = input("Enter sales orders:")
#profit = input("Enter profit")
s="The "+customer_name+" is a very good customer, bought "+number_of_sales_orders+" sales orders from our portal. we got "
print(s)

Enter Customer Name:NTR
Enter sales orders:2345
The NTR is a very good customer, bought 2345 sales orders from our portal. we got

In [8]:
# The Anil kumar is a very good customer, bought 3045 sales orders from our portal. we got 20000 profit becuase of Anil kumar.
customer_name=input("Enter Customer Name:")
number_of_sales_orders = input("Enter sales orders:")
profit = input("Enter profit:")
s="The "+customer_name+" is a very good customer, bought "+number_of_sales_orders+" sales orders from our portal. we got "+profit
print(s)

Enter Customer Name:NagarjunA
Enter sales orders:34567
Enter profit342
The NagarjunA is a very good customer, bought 34567 sales orders from our portal. we got 342

In [9]:
# The Anil kumar is a very good customer, bought 3045 sales orders from our portal. we got 20000 profit becuase of Anil kumar.
customer_name=input("Enter Customer Name:")
number_of_sales_orders = input("Enter sales orders:")
profit = input("Enter profit:")
s="The "+customer_name+" is a very good customer, bought "+number_of_sales_orders+" sales orders from our portal. we got "+profit+" profit becuase of "+customer_name+"."
print(s)

Enter Customer Name:AlluArjun
Enter sales orders:2345
Enter profit:7890
The AlluArjun is a very good customer, bought 2345 sales orders from our portal. we got 7890 profit becuase of AlluArjun

In [1]:
# The Anil kumar is a very good customer, bought 3045 sales orders from our portal. we got 20000 profit becuase of Anil kumar.
customer_name=input("Enter Customer Name:")
number_of_sales_orders = input("Enter sales orders:")
profit = input("Enter profit:")
s="The "+customer_name+" is a very good customer, bought "+number_of_sales_orders+" sales orders from our portal. we got "+profit+" profit becuase of "+customer_name+"."
print(s)

Enter Customer Name:qwewq
Enter sales orders:23
Enter profit:45
The qwewq is a very good customer, bought 23 sales orders from our portal. we got 45 profit becuase of qwewq.

In [4]:
# The Anil kumar is a very good customer, bought 3045 sales orders from our portal. we got 20000 profit becuase of Anil kumar.
customer_name=input("Enter Customer Name:")
number_of_sales_orders = input("Enter sales orders:")
profit = input("Enter profit:")
s="The "+customer_name+" is a very good customer, bought "+number_of_sales_orders+\
" sales orders from our portal. we got "+profit+" profit becuase of "+customer_name+"."
print(s)

Enter Customer Name:3242
Enter sales orders:432
Enter profit:234
The 3242 is a very good customer, bought 432 sales orders from our portal. we got 234 profit becuase of 3242.

In [5]:
# The Anil kumar is a very good customer, bought 3045 sales orders from our portal. we got 20000 profit becuase of Anil kumar.
customer_name=input("Enter Customer Name:")
print("The customer_name is a very good customer, bought ")

Enter Customer Name:sdfds
The customer_name is a very good customer, bought

In [6]:
# The Anil kumar is a very good customer, bought 3045 sales orders from our portal. we got 20000 profit becuase of Anil kumar.
customer_name=input("Enter Customer Name:")
print("The {customer_name} is a very good customer, bought ")

Enter Customer Name:qwewq
The {customer_name} is a very good customer, bought

In [7]:
# The Anil kumar is a very good customer, bought 3045 sales orders from our portal. we got 20000 profit becuase of Anil kumar.
customer_name=input("Enter Customer Name:")
print(f"The {customer_name} is a very good customer, bought ")# template string: f string

Enter Customer Name:Anil kumar
The Anil kumar is a very good customer, bought

In [8]:
a=1000
print("The product cost:"+a)

TypeError: can only concatenate str (not "int") to str

In [9]:
a=1000
print("The product cost:"+str(a))

The product cost:1000

In [10]:
a=1000
print(f"The product cost:{a}")

The product cost:1000

In [11]:
cost=123.45678
print(f"The prodcut cost: {cost}")

The prodcut cost: 123.45678

In [12]:
cost=123.45678
print(f"The prodcut cost: {cost: f}")

The prodcut cost:  123.456780

In [13]:
cost=123.45678
print(f"The prodcut cost: {cost: d}")

ValueError: Unknown format code 'd' for object of type 'float'

In [14]:
cost=123.45678
print(f"The prodcut cost: {int(cost)}")

The prodcut cost: 123

In [15]:
cost=123.45678
print(f"The prodcut cost: {cost: f}")

The prodcut cost:  123.456780

In [16]:
cost=123.456783543543643
print(f"The prodcut cost: {cost: f}")

The prodcut cost:  123.456784

In [18]:
cost=123.456783543543643
print(f"The prodcut cost: {cost: .2f}")

The prodcut cost:  123.46

In [19]:
# format specifiers: %s, %d, %r, %f

In [20]:
cost=123.456783543543643
print("The prodcut cost: %s")

The prodcut cost: %s

In [21]:
cost=123.456783543543643
print("The prodcut cost: %s", cost)

The prodcut cost: %s 123.45678354354364

In [22]:
cost=123.456783543543643
print("The prodcut cost: %s"%cost)

The prodcut cost: 123.45678354354364

In [24]:
cost=123.456783543543643
print("The prodcut cost: %f"%cost)

The prodcut cost: 123.456784

In [25]:
cost=123.456783443543643
print("The prodcut cost: %f"%cost)

The prodcut cost: 123.456783

In [26]:
cost=123.456783443543643
print("The prodcut cost: %d"%cost)

The prodcut cost: 123

In [27]:
# special
print("fsdfdsfs \n sdfdsfsd")

fsdfdsfs
 sdfdsfsd

In [28]:
# special
print("fsdfdsfs \n sdfdsfsd \t dsfdsfdsf")

fsdfdsfs
 sdfdsfsd 	 dsfdsfdsf

In [29]:
# special
print("fsdfdsfs\nsdfdsfsd\tdsfdsfdsf")

fsdfdsfs
sdfdsfsd	dsfdsfdsf

In [30]:
# special: 'fsdfdsfs\nsdfdsfsd\tdsfdsfdsf'
print('fsdfdsfs\nsdfdsfsd\tdsfdsfdsf')

fsdfdsfs
sdfdsfsd	dsfdsfdsf

In [31]:
# special: 'fsdfdsfs\nsdfdsfsd\tdsfdsfdsf'
print('fsdfdsfs"\n"sdfdsfsd"\t"dsfdsfdsf')

fsdfdsfs"
"sdfdsfsd"	"dsfdsfdsf

In [32]:
# special: 'fsdfdsfs\nsdfdsfsd\tdsfdsfdsf'
print('fsdfdsfs\\nsdfdsfsd\\tdsfdsfdsf')

fsdfdsfs\nsdfdsfsd\tdsfdsfdsf

In [33]:
print(len("\n"))

1

In [34]:
print(len("\\n"))

2

In [35]:
# special: 'fsdfdsfs\nsdfdsfsd\tdsfdsfdsf'
print(r'fsdfdsfs\nsdfdsfsd\tdsfdsfdsf')

fsdfdsfs\nsdfdsfsd\tdsfdsfdsf

In [36]:
cost=123.45
discount=34
total=345
name="APPLE"
print("the product %s"%(name))

the product APPLE

In [37]:
cost=123.45
discount=34
total=345
name="APPLE"
print("the product %s, cost:%s, discount:%s"%(name, cost, discount))

the product APPLE, cost:123.45, discount:34

In [38]:
cost=123.45
discount=34
total=345
name="APPLE"
print("the product %s, cost:%s, discount:%s"%(name, cost, discount, total))

TypeError: not all arguments converted during string formatting

In [39]:
cost=123.45
discount=34
total=345
name="APPLE"
print("the product %s, cost:%s, discount:%s, total: %s"%(name, cost, discount, total))

the product APPLE, cost:123.45, discount:34, total: 345

In [40]:
cost=123.45324324
discount=34.32432532
total=345
name="APPLE"
print("the product %s, cost:%.2f, discount:%d, total: %s"%(name, cost, discount, total))

the product APPLE, cost:123.45, discount:34, total: 345

In [41]:
print(len("\n"))

1