In [1]:
print("started")
a=1000
b=2000
print("a is big")
print("b is big")
print("ended")

started
a is big
b is big
ended

In [2]:
print("started")
a=1000
b=2000
print("a is big")
print("b is big")
print("ended")

started
a is big
b is big
ended

In [3]:
print("started")
a=1000
b=2000
print("a is big")
print("b is big")
print("ended")

started
b is big
ended

In [4]:
print("started")
a=1000
b=2000
if True:
    print("a is big")
else:
    print("b is big")
print("ended")

started
a is big
ended

In [5]:
print("started")
a=1000
b=2000
if False:
    print("a is big")
else:
    print("b is big")
print("ended")

started
b is big
ended

In [6]:
print("started")
a=1000
b=2000
if False:
    print("b is big")
else:
    print("a is big")
print("ended")

started
a is big
ended

In [7]:
print("started")
a=1000
b=2000
if False:
    print("HELLO")
    print("b is big")
else:
    print("HI")
    print("a is big")
print("ended")

started
HI
a is big
ended

In [8]:
print("started")
a=1000
b=2000
if bool(20):
    print("HELLO")
    print("b is big")
else:
    print("HI")
    print("a is big")
print("ended")

started
HELLO
b is big
ended

In [9]:
print("started")
a=1000
b=2000
if bool("python"):
    print("HELLO")
    print("b is big")
else:
    print("HI")
    print("a is big")
print("ended")

started
HELLO
b is big
ended

In [10]:
print("started")
a=1234
if bool(a):
    print("HELLO")
    print("b is big")
else:
    print("HI")
    print("a is big")
print("ended")

started
HELLO
b is big
ended

In [11]:
print("started")
a=0
if bool(a):
    print("HELLO")
    print("b is big")
else:
    print("HI")
    print("a is big")
print("ended")

started
HI
a is big
ended

In [12]:
a=1000
b=2000
print("a is big")
print("b is big")

a is big
b is big

In [13]:
print("started")
a=0
if a:  #bool(a)
    print("HELLO")
    print("b is big")
else:
    print("HI")
    print("a is big")
print("ended")

started
HI
a is big
ended

In [14]:
if 19:#bool(19) True
    print("hello")
print("hi")

hello
hi

In [15]:
if 19:#bool(19) True
    print("hello")
else:
    print("hi")

hello

In [16]:
if 0:#bool(0) False
    print("hello")
else:
    print("hi")

hi

In [17]:
value = input("enter a value:")
print(len(value))

enter a value:python
6

In [18]:
value = input("enter a value:")
print(len(value))

enter a value:Hyderbad
8

In [19]:
value = input("enter a value:")
print(len(value))

enter a value:
0

In [20]:
value=""
print(len(value))

0

In [21]:
value=''
print(len(value))

0

In [22]:
value = input("enter a value:")
print(type(value))

enter a value:20
<class 'str'>

In [23]:
value = float(input("enter a value:"))
print(type(value))

enter a value:

ValueError: could not convert string to float: ''

In [24]:
#value1, value2: value1+value2. 
value1=float(input("enter value1:"))
value2=float(input("enter value2:"))
print(value1+value2)

enter value1:12
enter value2:34
46.0

In [25]:
#value1, value2: value1+value2. 
value1=float(input("enter value1:"))
value2=float(input("enter value2:"))
print(value1+value2)

enter value1:12
enter value2:

ValueError: could not convert string to float: ''

In [26]:
#value1, value2: value1+value2. 
value1=input("enter value1:")
value2=input("enter value2:")
if value1=="":#False "12"==""
    value1=0
else:
    value1 = float(value1)
if value2=="":# "" == "" True
    value2=0
else:
    value2=float(value2)
print(value1+value2)

enter value1:12
enter value2:
12.0

In [27]:
#value1, value2: value1+value2. 
value1=input("enter value1:")
value2=input("enter value2:")
if value1=="":#True ""==""
    value1=0
else:
    value1 = float(value1)
if value2=="":# "34" == "" False
    value2=0
else:
    value2=float(value2)
print(value1+value2)

enter value1:
enter value2:34
34.0

In [28]:
bool("")

False

In [29]:
bool("1321")

True

In [30]:
#value1, value2: value1+value2. 
value1=input("enter value1:")
value2=input("enter value2:")
if value1:#bool(value1)
    value1 = float(value1)
else:
    value1=0
if value2:
    value2=float(value2)
else:
    value2=0
    
print(value1+value2)

enter value1:12
enter value2:
12.0

In [32]:
#value1, value2: value1+value2. 
value1=input("enter value1:")
value2=input("enter value2:")
if value1:#bool("")
    value1 = float(value1)
else:
    value1=0
if value2:#bool("12")
    value2=float(value2)
else:
    value2=0
print(f"value1={value1}, value2={value2}")
print(value1+value2)

enter value1:
enter value2:12
value1=0, value2=12.0
12.0

In [ ]:
a=1000
b=2000
"""
1.add
2.sub
3.mul
4.division
Enter an option: 1  : 1000+2000,
"""
"""
1.add
2.sub
3.mul
4.division
Enter an option: 2  : 1000-2000,
"""
"""
1.add
2.sub
3.mul
4.division
Enter an option: 3  : 1000*2000,
"""
"""
1.add
2.sub
3.mul
4.division
Enter an option: 4  : 1000/2000,
"""
"""
1.add
2.sub
3.mul
4.division
Enter an option: 5. if the user enters other numbers: we need to show the below message
PLEASE ENTER VALID OPTION
"""

In [1]:
a=1000
b=2000
print("1.add\n2.sub\n3.mul\n4.division")

1.add
2.sub
3.mul
4.division

In [2]:
a=1000
b=2000
print("1.add\n2.sub\n3.mul\n4.division")
opt = input("ENTER AN OPTION:")
print(opt)

1.add
2.sub
3.mul
4.division
ENTER AN OPTION:2
2

In [3]:
a=1000
b=2000
print("1.add\n2.sub\n3.mul\n4.division")
opt = input("ENTER AN OPTION:")
if opt==1:
    print(a+b)
if opt==2:
    print(a-b)
if opt==3:
    print(a*b)
if opt==4:
    print(a/b)
print("THANK YOU!!")

1.add
2.sub
3.mul
4.division
ENTER AN OPTION:2
THANK YOU!!

In [4]:
"1"==1

False

In [5]:
a=1000
b=2000
print("1.add\n2.sub\n3.mul\n4.division")
opt = input("ENTER AN OPTION:")#3
if opt=="1":#"3"=="1": False
    print(a+b)
if opt=="2":#"3"=="2": False
    print(a-b)
if opt=="3":#"3"=="3": True
    print(a*b)
if opt=="4":#"3"=="4": False
    print(a/b)
print("THANK YOU!!")

1.add
2.sub
3.mul
4.division
ENTER AN OPTION:3
2000000
THANK YOU!!

In [6]:
a=1000
b=2000
print("1.add\n2.sub\n3.mul\n4.division")
opt = input("ENTER AN OPTION:")#6
if opt=="1":#"6"=="1": False
    print(a+b)
if opt=="2":#"6"=="2": False
    print(a-b)
if opt=="3":#"6"=="3": False
    print(a*b)
if opt=="4":#"6"=="4": False
    print(a/b)
print("THANK YOU!!")

1.add
2.sub
3.mul
4.division
ENTER AN OPTION:6
THANK YOU!!

In [7]:
a=1000
b=2000
print("1.add\n2.sub\n3.mul\n4.division")
opt = input("ENTER AN OPTION:")#3
if opt=="1":#"3"=="1": False
    print(a+b)
if opt=="2":#"3"=="2": False
    print(a-b)
if opt=="3":#"3"=="3": True
    print(a*b)
if opt=="4":#"3"=="4": False
    print(a/b)
else:
    print("ENTER VALID OPTION")
print("THANK YOU!!")

1.add
2.sub
3.mul
4.division
ENTER AN OPTION:3
2000000
ENTER VALID OPTION
THANK YOU!!

In [8]:
#ELIF: 
a=1000
b=2000
print("1.add\n2.sub\n3.mul\n4.division")
opt = input("ENTER AN OPTION:")#3
if opt=="1":#"3"=="1": False
    print(a+b)
elif opt=="2":#"3"=="2": False
    print(a-b)
elif opt=="3":#"3"=="3": True
    print(a*b)
elif opt=="4":
    print(a/b)
else:
    print("ENTER VALID OPTION")
print("THANK YOU!!")

1.add
2.sub
3.mul
4.division
ENTER AN OPTION:3
2000000
THANK YOU!!

In [9]:
#ELIF: 
a=1000
b=2000
print("1.add\n2.sub\n3.mul\n4.division")
opt = input("ENTER AN OPTION:")#1
if opt=="1":#"1"=="1": True
    print(a+b)
elif opt=="2":
    print(a-b)
elif opt=="3":
    print(a*b)
elif opt=="4":
    print(a/b)
else:
    print("ENTER VALID OPTION")
print("THANK YOU!!")

1.add
2.sub
3.mul
4.division
ENTER AN OPTION:1
3000
THANK YOU!!

In [10]:
#ELIF: 
a=1000
b=2000
print("1.add\n2.sub\n3.mul\n4.division")
opt = input("ENTER AN OPTION:")#2
if opt=="1":#"2"=="1": False
    print(a+b)
elif opt=="2":# "2"=="2": True
    print(a-b)
elif opt=="3":
    print(a*b)
elif opt=="4":
    print(a/b)
else:
    print("ENTER VALID OPTION")
print("THANK YOU!!")

1.add
2.sub
3.mul
4.division
ENTER AN OPTION:2
-1000
THANK YOU!!

In [11]:
#ELIF: 
a=1000
b=2000
print("1.add\n2.sub\n3.mul\n4.division")
opt = input("ENTER AN OPTION:")#5
if opt=="1":#"5"=="1": False
    print(a+b)
elif opt=="2":# "5"=="2": False
    print(a-b)
elif opt=="3":# "5"=="3": False
    print(a*b)
elif opt=="4":# "5"=="4": False
    print(a/b)
else:
    print("ENTER VALID OPTION")
print("THANK YOU!!")

1.add
2.sub
3.mul
4.division
ENTER AN OPTION:5
ENTER VALID OPTION
THANK YOU!!

In [12]:
# take a number from the user and check whether it is even or odd
number= input("Enter number:")
number = float(number)
if number%2==0:
    print("EVEN")
else:
    print("ODD")

Enter number:23
ODD

In [13]:
# take a number from the user and check whether it is even or odd
number= input("Enter number:")
number = float(number)
if number%2==0:
    print("EVEN")
else:
    print("ODD")

Enter number:

ValueError: could not convert string to float: ''

In [14]:
# take a number from the user and check whether it is even or odd
number= input("Enter number:")#24
if number:#True, bool(24): True
    number = float(number)#24.0
    if number%2==0:#24%2=0, 0==0: True
        print("EVEN")
    else:
        print("ODD")
else:
    print("ENTER A VALID NUMBER")

Enter number:24
EVEN

In [15]:
# take a number from the user and check whether it is even or odd
number= input("Enter number:")#""
if number:#bool(''): False
    number = float(number)
    if number%2==0:
        print("EVEN")
    else:
        print("ODD")
else:
    print("ENTER A VALID NUMBER")

Enter number:
ENTER A VALID NUMBER

In [1]:
print("1.Men\n2.Women")
gender = input("Enter gender:")

1.Men
2.Women
Enter gender:1

In [2]:
print("1.Men\n2.Women")
gender = input("Enter gender:")
age = input("Enter an age:")
age=float(age)
if gender=="1":
    if age>=5:
        print("He can got to movie.")
    if age>=18:
        print("He can apply for vote.")
    if age>=23:
        print("He can get marriged.")
    if age>=18 and age<=32:
        print("He can apply for govt jobs.")
    if age>=18 and age<=60:
        print("he can apply for driving license")
else:
    if age>=7:
        print("He can got to movie.")
    if age>=18:
        print("He can apply for vote.")
    if age>=21:
        print("He can get marriged.")
    if age>=18 and age<=34:
        print("He can apply for govt jobs.")
    if age>=18 and age<=60:
        print("he can apply for driving license")

1.Men
2.Women
Enter gender:1
Enter an age:35
He can got to movie.
He can apply for vote.
He can get marriged.
he can apply for driving license

In [3]:
print("1.Men\n2.Women")
gender = input("Enter gender:")
age = input("Enter an age:")
age=float(age)
if gender=="1":
    if age>=5:
        print("He can got to movie.")
    if age>=18:
        print("He can apply for vote.")
    if age>=23:
        print("He can get marriged.")
    if age>=18 and age<=32:
        print("He can apply for govt jobs.")
    if age>=18 and age<=60:
        print("he can apply for driving license")
else:
    if age>=7:
        print("He can got to movie.")
    if age>=18:
        print("He can apply for vote.")
    if age>=21:
        print("He can get marriged.")
    if age>=18 and age<=34:
        print("He can apply for govt jobs.")
    if age>=18 and age<=60:
        print("he can apply for driving license")

1.Men
2.Women
Enter gender:100
Enter an age:150
He can got to movie.
He can apply for vote.
He can get marriged.

In [4]:
print("1.Men\n2.Women")
gender = input("Enter gender:")
age = input("Enter an age:")
age=float(age)
if age>=18:
        print("can apply for vote.")
if age>=18 and age<=60:
        print("can apply for driving license")

if gender=="1":
    if age>=5:
        print("can got to movie.")
    if age>=23:
        print("can get marriged.")
    if age>=18 and age<=32:
        print("can apply for govt jobs.")
else:
    if age>=7:
        print("can got to movie.")
    if age>=18:
        print("can apply for vote.")
    if age>=21:
        print("can get marriged.")
    if age>=18 and age<=34:
        print("can apply for govt jobs.")

1.Men
2.Women
Enter gender:1
Enter an age:37
can apply for vote.
can apply for driving license
can got to movie.
can get marriged.

In [5]:
number = 12
if number%2==0:
    print("Even")
else:
    print("Odd")

Even

In [6]:
number = 12
print("EVEN" if number%2==0 else "ODD")

EVEN

In [7]:
number = 13
print("EVEN" if number%2==0  else "ODD")

ODD

In [ ]:
number = 13
k= any("EVEN" if number%2==0  else "ODD")
print(k)

In [8]:
all([True, True, True])

True

In [9]:
all([True, True, True, False])

False

In [10]:
any([True, True, True])

True

In [11]:
any([False, False, True])

True

In [12]:
any("EVEN")

True

In [13]:
any("ODD")

True

In [14]:
number = 13
k= any("EVEN" if number%2==0  else "ODD")
print(k)

True